@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('../assets/images/bg.jpeg');
    background-size: cover;
}

/* 
    estilos para os modais
*/

/* modal vitória */

/* .hidden {
    display: none;
} */

.modal-victory {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, .95);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-victory__main {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #81D00C;
    border: 1px solid blanchedalmond;
    animation: fromTop .5s linear;
}

@keyframes fromTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.modal-victory__close {
    color: white;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.modal-victory__col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 86%);
}

.modal-victory__figure {
    width: 100%;
    height: 100%;
}

#modal-victory__image {
    width: 100%;
    height: 100%;
    /* width: 600px;
    display: flex;
    margin: 5REM auto; */
}

.modal-victory__col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    margin-top: -40px;
    background-color: black;
    font-size: 15px;
}

.modal-victory__title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal-victory__content {
    margin-left: 10px;
    font-family: sans-serif;
}

.initial-modal {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #000;
    background-image: url('../assets/images/bg.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-figure {
    width: 300px;
    height: 300px;
    animation: rotate 2s linear infinite;
}

.modal-image {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        transform: scale(0.25);
    }
    50% {
        opacity: 0.9;
        transform: scale(0.5);
    }
    75% {
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 350px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.95);
    /* background-image:  linear-gradient(lightblue, lightgreen); */
    color: #81D00C;
    border-radius: 5px;
    animation: fromTop 1s linear;
}

.modal-col1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-figure {
    width: 250px;
    height: 250px;
}

.initial-image {
    width: 100%;
    height: 100%;
}

.initial-title {
    text-transform: uppercase;
    font-weight: 900;
    margin: 10px 0;
}

.initial-input {
    margin: 10px 0;
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px 0px rgba(3, 108, 15, 0.4);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(3, 108, 15, 0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(3, 108, 15, 0.4);
    transition: all .3s linear;
}

.initial-input:focus {
    transform: translateX(15px);
    border: 1px solid green;
    /* transform: scale(1.05); */
}

.play-btn {
    cursor: pointer;
    outline: none;
    width: 50%;
    margin: 15px 0 30px;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(green, #81D00C);
    box-shadow: 10px 10px 5px 0px rgba(3, 108, 15, 0.4);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(3, 108, 15, 0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(3, 108, 15, 0.4);
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    transition: all .2s linear;
}

.play-btn:hover {
    transform: scale(1.1);
}

/* 
    estilos para o game
*/

#tabuleiro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.coluna {}

.linha {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px;
}

.bolaDaVez {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-image: url('../assets/images/portal.png');
    background-size: cover;
    border-radius: 100%;
    margin: 5px;
    animation: rotate 2s linear infinite;
}

.ball {
    width: 25px;
    height: 25px;
    background-color: lightblue;
    border-radius: 100%;
    animation: fromTopDisk .6s linear;
}

.ball2 {
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 100%;
    animation: fromTopDisk .6s linear;
}

@keyframes fromTopDisk {
    0% {
        transform: translateY(-120px);
    }
    100% {}
}

.turnsBoard {
    position: absolute;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 50px;
    border: 1px solid #81D00C;
    border-radius: 3px;
    padding: 10px 10px;
    background-color: #000;
    color: #81D00C;
}

#regras {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}
#portais {
    background-color: #000;
    color: #81D00C;
    font-size: 0.4rem;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #81D00C;
    border-radius: 3px;
    padding: 10px 10px;
}

@media only screen and (min-width:767px) {
    .modal-content {}
    .modal-col1 {
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
    }
    .modal-col2 {
        justify-content: center;
    }
    .ball {
        width: 50px;
        height: 50px;
        background-image: url('../assets/images/rick-disk.png');
        background-size: cover;
    }
    .ball2 {
        width: 50px;
        height: 50px;
        background-image: url('../assets/images/morty--disk.png');
        background-size: cover;
    }
    .linha {
        width: 50px;
        height: 50px;
    }
    .bolaDaVez {
        width: 55px;
        height: 55px;
    }
    .modal-victory__main {
        flex-direction: row;
        width: 50%;
        height: 300px;
    }
    .modal-victory__col1 {
        width: 50%;
        clip-path: none;
    }
    .modal-victory__col2 {
        width: 50%;
        padding: 10px;
        margin-top: 0;
        justify-content: center;
    }
    /* background-image: linear-gradient(rgb(1, 255, 1), #b8f55c);
    border: 1px solid green; */
    #regras {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
    }
    #portais {
        background-color: #000;
        color: #81D00C;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #81D00C;
        border-radius: 3px;
        padding: 10px 10px;
    }
}

.hidden {
    display: none;
}